@inject button button
<PageTitle>Calculator</PageTitle>

<h3>Calculator</h3>

<main>
    <table>
        <thead>
            <tr>
                <th>Data</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <button @onclick="7">printNumber</button>
                <button @onclick="8">printNumber</button>
                <button @onclick="9">printNumber</button>
            </tr>
            <tr>
                <button @onclick="4">printNumber</button>
                <button @onclick="5">printNumber</button>
                <button @onclick="6">printNumber</button>
            </tr>
            <tr>
                <button @onclick="1">printNumber</button>
                <button @onclick="2">printNumber</button>
                <button @onclick="3">printNumber</button>
            </tr>
        </tbody>
    </table>
</main>


@code {
    private void printNumber()
    {
        
    }
}
